<!--The content below is only a placeholder and can be replaced.-->
<!-- <div  class="row" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    {{data}}
  </h1>
  <p>My Counter : {{myCounter}}</p>
    <app-test2></app-test2>
  </div>
  <button class="btn btn-sm btn-success" (click)="incrementCounter()">Increment</button> -->
  <h1>My App Component</h1>
  <ul style="cursor: pointer">
    <li ><a [routerLink]="['test','4','BoB']">Test</a></li>
    <li ><a [routerLink]="['test','3','Paul']">Test_1</a></li>
    <li><a (click)="navTotest()">Test_2</a></li>

  </ul>
  <button class="btn btn-primary" (click)="logIn()"> Log In</button>
  <br>
  <br>
  <button class="btn btn-primary" (click) = "logoff()"> Log Off</button>
  <router-outlet></router-outlet>